@font-face {
    font-family: 'Cormorant';
    src: url('/fonts/Cormorant-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: url('/fonts/Cormorant-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: url('/fonts/Cormorant-Light.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}

body {
    background-color: #00554E;
}